[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "*"
sphinx-autobuild = "*"
sphinx-multitoc-numbering = "*"
myst-parser = "*"

[dev-packages]
jupyterlab = "*"
requests = "*"
bs4 = "*"

[requires]
python_version = "3.9"
